body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background-color:  #162831;

    margin: 0;
}

.header {
    width: 1298px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.navigation__list {
    display: flex;
    gap: 50px;
    list-style: none;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 21px;
}

.navigation__link {
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.button {
    font-size: 13px;
    line-height: 18px;
    color: #018ABE;
    background-color: #FFFFFF;
}

.button--blue {
    color: #FFFFFF;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 9px 15px;

    margin: 0;
    margin-top: 13px;
    margin-bottom: 11px;
}

.banner {
    width: 1296px;
    height: 600px;
    padding-top: 150px;

    margin: 0 auto;
}

.banner--background {
    background-image: url("../img/baner_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.banner__main-title {
    font-size: 64px;
    line-height: 90px;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 100px;
}

.title::before {
    width: 28px;
    height: 14px;
    border-radius: 50px 0 50px 0;
    background-color: #018ABE;
}

.title::after {
    width: 28px;
    height: 14px;
    border-radius: 0 50px 0 50px;
    background-color: #018ABE;
}

.title--white {
    text-align: center;
    margin-bottom: 40px;
}

.title--white::before {
    background-color: #FFFFFF;
}

.title--white::after {
    background-color: #FFFFFF;
}

.sessions-list__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-decoration: none;
}

.article__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.article__text {
    font-size: 16px;
    line-height: 140%;
}

.pricelist__title {
    font-size: 18px;
    line-height: 25px;
}

.pricelist__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.gift-certificate__text {
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
}

.location-info {
    background-color: #018ABE;
}

.location-info__title {
    font-size: 24px;
    line-height: 34px;
}

.location-info__list {
    list-style: none;
}

.location-info__text {
    font-size: 14px;
    line-height: 19px;
}

.copyright__link {
    font-size: 14px;
    line-height: 19px;
}