.header {
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;

    margin-bottom: 60px;
}

.title {
    margin-bottom: 60px;
}

.newsline {
    display: grid;
    width: 1296px;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
    grid-template-rows: 258px 258px;

    margin: 0 auto;
    margin-bottom: 120px;
}

.newsline__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px;
}

.newsline__item--background {
    background-image: url(../img/about_decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.newsline__item--background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(1, 138, 190, 0.5);
    ;
    border-radius: 10px;
}

.newsline__date {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #018ABE;
    position: relative;
    width: 63px;
}

.newsline__title {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    position: relative;
}

.footer {
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
}

.news-article {
    display: flex;
    width: 1296px;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 120px;
}

.news-article__content {
    width: 526px;
}

.news-article__date {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #018ABE;
}

.news-article__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    margin-top: 45px;
    margin-bottom: 30px;
}

.news-article__text {
    font-size: 16px;
    line-height: 22px;

    margin-bottom: 15px;
}
